html body {background: #000; font-family: 'Lato', helvetica, arial, sans-sefif; font-size: 16px; color: #8E518D}

p { 
  width:50%;
  max- width: 800px;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #709CD1;
}

h1 { 
    border-bottom: 1px solid #5BC0BE;
    padding: 20px 0 0;
  }

h2  {font-size: 20px;
    color: teal;
    padding: 20px 0 0;
  }

h3  {
    font-size: 15px;
    colour: green;
    padding: 15px 0 0;
}

h4  {
    font-size:  10px;
    colour: #009DDC;
    padding: 10px 0 0;
}
